<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.mall">

    <application>
        <activity
            android:name=".ui.prodetails.ProDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OrderConfirmActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ReturnRuleActivity" />
        <activity android:name=".ui.moreevalvate.MoreEvaluateActivity" />
        <activity android:name=".JewelryDetalisActivity" />
        <activity android:name=".ui.GroupDetalisActivity" />
        <activity android:name=".ui.moretuan.MoreTuanActivity" />
    </application>
</manifest>
