<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.user">

    <application>

        <!--登录-->
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <!--注册-->
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--协议-->
        <activity
            android:name=".AgreementActivity"
            android:screenOrientation="portrait" />
        <!-- 帮助-->
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".FindPSWActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
