<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.mine">

    <application>

        <activity
            android:name=".ui.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SystemMessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InvitationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InvitaRuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BalanceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.CardActivity" />
        <activity android:name=".ui.MyTeamActivity" />
    </application>
</manifest>
