<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.mine">

    <application>

        <activity
            android:name=".ui.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SystemMessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InvitationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InvitaRuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyOpenCoilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GiveOpenCoilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CollageReturnsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.OrderActivity" />
        <activity android:name=".ui.DepositActivity" />
        <activity android:name=".ui.AddressActivity" />
        <activity android:name=".ui.AdderAddressActivity" />
        <activity android:name=".ui.AdmAdderssActivity" />
        <activity android:name=".ui.KePhoneActivity" />
        <activity android:name=".ui.ComplaintActivity" />
        <activity android:name=".ui.SeetingActivity" />
        <activity android:name=".ui.ModifyPassActivity" />
        <activity android:name=".ui.RechDepositActivity" />
        <activity android:name=".ui.PaySuccessActivity" />
        <activity android:name=".ui.EditionPassActivity" />
        <activity android:name=".ui.EditionActivity" />
        <activity android:name=".ui.OrderDetalisActivity" />
        <activity android:name=".NoviceActivity" />
        <activity android:name=".NoviceDetalisActivity" />
    </application>
</manifest>
